body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://i.pinimg.com/564x/a7/99/3d/a7993de1237adb96cfd54984416c63bb.jpg);
}

/* .balloon p {
  text-align: center;
  padding-top: 32%;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 3px 4px 3px rgb(0, 0, 0);
} */

.balloon {
  width: 200px;
  height: 200px;
  background-image: url(assets/baloon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 77%;
  left: calc(50% - 90px); /* Center horizontally */
  cursor: pointer;
  animation: move-balloon 0.8s infinite alternate ease-in-out;
  
}

@keyframes move-balloon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-47vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-47vh) scale(20);
    opacity: 30%;
  }
}

.click-me {
  text-align: center;
  transform: translateY(80px);
  color: White;
  font-weight: 600;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}





/* @keyframes move-up {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-47vh) scale(2.5);
    opacity: 80%;
  }
} */